body{
	margin:0;
	color:#7a7b7f;
	
	background:#10101A;
	font:600 12px/18px 'Roboto', sans-serif;;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

/* LOGIN DAN REGISTER */

.login-wrap{
	width:100%;
	float: right;
	max-width:730px;
	min-height:823px;
	position:relative;
	/* box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); */
}

 .topbar h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	margin-bottom: 12%;
	font-size: 36px;
	color: white;
 }
 
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:120px 70px 50px 70px;
	background-color: #10101A;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateX(180deg);
	backface-visibility:hidden;
	/* transition:all .9s linear; */
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.tab{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
	transition: all .5s ease;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input{
	width:95%;
	color:#fff;
	display:block;
	margin-top: 4%;
}

.login-form .group .input{
	border:none;
	padding:15px 20px;
	margin-top: 2%;
	border-radius:6px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
	border: none;
}
.login-form .group .label{
	color:rgb(255, 255, 255);
	font-size:12px;
	
}

.label{
    width: 5%;
}
 .button{
	background:#598EF3; 
	   color: white;
    width: 22%;
    font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
    float: right;
    margin-right: 5%;
    border:none;
	padding:12px;
	border-radius:25px;
	cursor: pointer;
}
.button:hover{
	background: #598ff3ce;
	color: rgba(255, 255, 255, 0.735);
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
    font-size: 12px;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;

}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}


/* GAMBAR LOGO */

.gambarr img{
	position: absolute;
	width: 35%;
	margin-left: 7%;
	margin-top: 11%;
	
}
.gambar{
	position: absolute;
	margin-left: 23%;
}

.spannn {
	color: blue;
	
 }

 .spannnn{
	 padding-top: 5%;
 }

 .topbar span{
	 margin-top: 5%;
 }

 .topbarr{
	margin-left: 5%;
 }
 .topbarr h1 {
	font-family: 'Rubik Distressed', cursive;
	font-weight: 400;
	font-size: 33px;
	color: white;
	margin-top: 15%;
	/* margin-left: 5%; */
		/* box-shadow:0 5px 5px 0 rgba(255, 255, 255, 0.24),0 7px 5px 0 rgba(0,0,0,.10); */
 }
