@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body{
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #10101A;
    
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
/* Navbar */
a {
   text-decoration: none;
   color: white;
   font-size: 24px;
   transition: all .2s ease;
   font-family: 'Acme', sans-serif;
}
 
 li{
    list-style-type: none;
 }
 
 .navbarr{
    position: fixed;
    z-index: 100;
 }
 
 header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5%;
    background-color: #222831;
    height: 58px;
    width: 115%;
    justify-content: space-between;
    
 }
 
 .logo{
  
    font-weight: 900;
    font-size: 26px;
    background: -webkit-linear-gradient(45deg, #0d40f9,white );-webkit-background-clip: text;-webkit-text-fill-color: transparent;
 }
 
 
 nav ul{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 600px;
    
 }
 
 nav ul li{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
 }
 nav ul li a{
    color: #FFF;
    font-size: 16px;
    display: block;
    padding: 7px 20px;
    border-radius: 15px;
 }
 
 nav ul li a:hover{
    color:#598ff3dc;
 }
 
 
 .navbar ul img{
    color: white;
   cursor: pointer;
    right: 4%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 50%;
    transition: all .5s ease;
 }  
 
 .navbar ul img:hover{
    transform: scale(1.10);
 }
 
 .kontener{
    padding:15px 9%;
    height: 100vh;
    padding-bottom: 100px;
 }
 
 .kontener .heading{
    text-align: left;
    margin-top: 7%;
    padding-bottom: 15px;
    background: -webkit-linear-gradient(45deg, #0d40f9,white );-webkit-background-clip: text;-webkit-text-fill-color: transparent;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
 }
 
 .kontener .headingg{
    margin-left: 1%;
    text-align: left;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 20px;
    font-weight: 300;
 }
/* CARD */

/* .container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px 10px;
}
.container .card{
    max-width: 310px;
    height: 420px;
    background: rgba(32,32,43);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    

}
.container .card .imgBx{
    position: relative;
    bottom: 50px;
    left: 10px;
    min-width: initial;
    width: 125px;
    height: 120px;
   
    z-index: 1;

}
.container .card .imgBx img{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
   
}

.container .card .content{
    position: relative;
    padding: 10px 15px;
    text-align: center;
}

.content h3{
    color: white;
    background-color: #1967FC;
    width: 115px;
    border-radius: 5px;
}

.content h2{
    color: white;
    text-align: left;
    margin-top: 17px;
}
.content p{
    color: rgba(128, 128, 128, 0.471);
    font-size: 14px;
}

.sound{
    background-color: #1967FC;
    width: 30px;
    float: right;
    padding: 20px;
    position: absolute;
    margin-left: 210px;
    margin-bottom: 70px;
    
} */


/* coba dropdown */



.navbar .nav_right ul li.nr_li{
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	
}



.navbar .dd_menu {
    position: absolute;
    margin-top: -3px;
    margin-left: -20px;
    display: flex;
    background: #030303;

   border-radius: 5px;
    display: none;
}



.navbar .dd_menu .dd_left li{
	color: #1967FC;
  
}



.navbar .dd_menu li{
	margin-bottom: 10px;
	color: #868686;
}
.dd_menu li:hover{
   color:#8686869b ;
}
 .dd_left{
   padding: 9px;
   padding-right: 0px;
   padding-bottom: 3px;
}
.dd_right{
   padding: 9px;
   padding-left: 8px;
   padding-bottom: 3px;
}

.navbar .dd_main.active .dd_menu{
	display: flex;
}




/* coba */
.products-preview{
    top:0; left:0;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 50px;
  
 }
 
 .products-preview .preview{
    
    padding:0rem 2rem 2rem 2rem;
        text-align: center;
    background: rgb(32,32,43);
    border-radius: 15pt;
    position: relative;
   justify-content: center;
    width: 17rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 8rem;
    margin-top: -15px;
    border-radius: 15px;
 }

 
 .products-preview .preview h3{
   color: white;
    padding:.5rem 0;
    font-size: 1.4rem;
 }
 .judul{
    position: absolute;
    margin-left: 40px;
    margin-top: 4%;
 }
 
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 16px;
    color:#777;
 }
 
 .products-preview .preview .buttons{
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    
    padding: 9px 16px 9px 16px;
    border-radius: 10px;
    font-size: 1.1rem;
    color: #598EF3;
    background-color: rgba(255, 255, 255, 0.938);
 }
 
 .products-preview .preview .buttons a.cart{
   background-color: #598EF3;
    color: white;
    margin-left: 6px;
    
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background-color:#598ff3c5;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background-color: rgba(255, 255, 255, 0.849);
 }


 .products-preview .preview .pricee{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    color:#598EF3;
 }
 
 .card{
     display: flex;
     flex-wrap: wrap;
     
 }/* footer */


footer{
    /* position: fixed; */
    background-color: #2228318d;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 35px;
  }
  /* footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  } */
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
    font-family: 'Rubik Distressed';
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #598EF3;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background-color: #222831;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }






 
